<div class="container__big-card">
      <a href="#">
            <div class="big-card__photo">
                  <img src="https://i.stack.imgur.com/luaq2.png" alt="imgNoticia" height="200px" srcset="">
            </div>

            <div class="big-card__title">
                  <h1>Saiu a nova versão do Angular</h1>
            </div>

            <div class="big-card__description">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit incidunt nam, fugit neque
                        consequuntur modi nesciunt animi non dignissimos veritatis adipisci sapiente consequatur
                        repellendus possimus reiciendis dolorum officiis minima. Obcaecati.</p>
            </div>
      </a>
</div>